.home-page {
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  .home-page h2 {
    text-align: center;
    color: #333;
  }
  
  .custom-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .custom-button:hover {
    background-color: #45a049;
  }